body {
  background: #eee;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}
.sub-body {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.2s;
  width: 540px;
}
.header {
  background: #2b0f5d;
  color: #a27be9;
  padding: 24px 0 21px;
  text-align: center;
}
.price {
  color: #fff;
  display: flex;
  margin: 0 0 12px;
  align-items: center;
  justify-content: center;
}
.text_Pay {
  text-align: end;
}
.select-body {
  padding: 32px;
}